    :root {
        --primary-color: #2F5496;
        --secondary-color: #c5c5c5;
        --tertiary-color: #ffffff;
        --quaternary-color: #cacaa4;
    }

    html {
        scroll-padding-top: 16rem;
    }

    body {
        color: black;
        background: var(--tertiary-color);
        font-family: 'Century';
    }

    /* apply styles to <header> */
header {
    background-color: var(--tertiary-color);
    color: black;
    position: sticky;
    top: 0px;
    z-index: 9999;
}

header a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
    font-size: 20px;
}

header a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

.first-header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sub-header{
    display: flex;
    justify-content:end;
    flex-wrap: wrap;
}

.logo{
    display: grid;
    grid-auto-flow: row;
}

.imm-text{
    font-size: 12px;
    font-weight: bold;
}

nav {
    justify-content: center;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    font-size: 20px;
}

nav ul li a:link {
    text-decoration: none;
    color: black;
}

nav ul li a:visited {
    font-weight: bold;
    text-decoration: none;
    color: black;
}

nav ul li a:hover {
    background: var(--primary-color);
    color: var(--tertiary-color);
    border-radius: 15px;
    padding: 15px 32px;
    text-shadow: none;
}

button {
    background-color: #2F5496;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    position: absolute;
}

button:hover {
    background-color: #c5c5c5;
    color: black;
}

/* All Section Titles*/
.section-title {
    font-size: 35px;
    text-align: center;
}

.hero {
    position:relative;
}

.hero:before {
    content: "";
    background-image: url("../images/hero.jpg");
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    top: 0;
    left: 0px;
    bottom: 0;
    right: 0px;
    border: 0px;
    z-index: -1;
    opacity: .4;

}

.hero-self {
    font-weight: 900;
}

.hero-self h2 {
    font-size: 30px;
    color: black;
}

.hero1 {
    display: flex;
    justify-content: left;
}

.hero2 {
    display: flex;
    justify-content: center;
}

.hero3 {
    display: flex;
    justify-content: right;
}

/* About Us */
.about {
    scroll-margin-top: 5em;
    font-size: 20px;
}

.about2 {
    display: flex;
    justify-content: space-around;
    flex-flow: row;
    flex: initial;
}

.about2 p {
    margin-right: 20px;
    margin-top: 150px;
}

.center-fit {
    max-width: 25%;
    max-height: 25%;
}

.about-image {
    max-width: 35%;
    max-height: 35%;
}

.practices-image {
    max-width: 100%;
    max-height: 100%;
}

/* practice */
.practice-examples {
    scroll-margin-top: 5em;
    font-size: 20px;
}

.practices-header {
    display: flex;
    justify-content: space-around;
    flex-flow: column;
    flex: initial;
}

.practices-header p {
    margin: 0px;
    font-size: 25px;
    /* margin-right: 20px; */
    /* margin-top: 150px; */
}

.practice-title {
    text-align: left;
    margin-left: 20px;
}

.practices-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: left;
}

.practices {
    display: flex;
    justify-content:flex-start;
    margin-top: 20px;
}

.practices ul {
    margin-top: 50px;
}

.practices ul li {
    list-style: none;
}

/* Biography */
.biography {
    scroll-margin-top: 5em;
    font-size: 20px;
}

.bio-about1 {
    display: flex;
}

.bio-info1 p {
    margin-top: 100px;
    margin-left: 40px;
}

/* Contact */
.contact {
    text-align: left;
    font-size: 20px;
    margin-bottom: 60px;
}
.contact-about2 {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
}
.contact-about1 {
    display: grid;
    grid-auto-flow: row;
    grid-auto-columns: 1fr;
}

.contact-about1 a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

.contact-about1 a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

address {
    font-style: normal;
}

.contact-button {
    display: flex;
    justify-content: left;
}

.map {
    display: flex;
    justify-content: center;
}

/* Footer */
footer {
    background: var(--primary-color);
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }

.copyright {
    line-height: 1.5;
    text-align: left;
    vertical-align:text-bottom;
    color: var(--tertiary-color);
}
/* 
.paypal a{
    font-weight:bolder;
    text-decoration: none;
    color: var(--terterary-color);
}

.paypal a:hover {
    background: var(--secondary-color);
    color: var(--tertiary-color);
    border-radius: 15px;
    text-shadow: none;
} */

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    header a:link {
        font-size: 15px;
    }
    .about2 {
        display: flex;
        flex-flow:column-reverse;
    }

    .about2 p {
        margin-right: auto;
        margin-top: auto;
    }

    .hero {
        background-size: cover;
        background-position: top 10%;
        background-attachment: scroll;
    }  
    .bio-about1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: left;
    }

    .center-fit {
        max-width: 75%;
        max-height: 75%;        
    }

    .practice h2 {
        text-align: left;
    }

    /* .practices-header {
        flex-flow:column-reverse;
    } */

    .practices-header p {
        margin-right: auto;
        margin-top: auto;
    }

    .practices {
        flex-flow: column;
    }

    .practices ul {
        margin-top: auto;
    }

    .contact-about2 {
        display: grid;
        grid-auto-flow: row;
        grid-auto-columns: 1fr;
    }
}

  
/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
    nav ul li a:hover {
        background: transparent;
        color: black;
        border-radius: 0px;
        padding: 0px 0px;
        text-shadow: none;
    }
    
    .biography p {
        margin: 20px 50px;
    }

    .resource-container {
        margin: 20px 50px;
    }
    
    .contact-about2 {
        display: grid;
        grid-auto-flow: row;
        grid-auto-columns: 1fr;
    }

    .about-image {
        max-width: 100%;
        max-height: 100%;
    }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media only screen and (max-width: 575px) {
    html {
        scroll-padding-top: 10rem;
    }
    
    header nav ul{
        align-items: center; 
        justify-content: space-around;
    }
    
    .hero-self {
        text-align: left;
    }

    .hero-self h3 {
        /* font-style: italic;*/
        font-size: 25px;
        color: var(--primary-color);
        width: 400px;
        height: 150px;
        margin-bottom: 5px;
        overflow: hidden;
    }
    
    .biography p {
        margin: 20px 50px;
    }

    .bio-about1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: left;
    }
    .contact-about1 {
        display: grid;
    }
    .contact-about2 {
        display: grid;
        grid-auto-flow: row;
        grid-auto-columns: 1fr;
    }
}
    